# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj/
_test/

# Go binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output files
*.out

# Dependency directories
vendor/
.idea/

# GoLand specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/.name
.idea/goTemplate.xml
.idea/vcs.xml
.idea/golandProjects.xml

# VSCode specific files
.vscode/
